<nav class="navBar">
    <a class="navItem" href="/createpost">Add Post</a>
    <a class="navItem" href="#">Contact</a>
    <a class="navItem" href="/home">About</a>
    <a class="navItem" href="#">FAQ</a>
</nav>