<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/../styles/style.css">
</head>
<body>
    {{>navbar}}
    <h1 class="head">All Posts</h1>
    {{#each data as |d|}}
        <li class="card">
            <img src={{d.imageUrl}} class="imageUrl"><br>
            <div class="title">{{d.title}}</div>
            <div class="desc">{{d.desc}}</div>
        </li>
    {{/each}}
</body>
</html>