.container{
    display: grid;
    width: 400px;
    height: 300px;
    border: 1px solid black;
    background-color: wheat;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 10px;
}

.el{
    border: 1px solid black;
    background-color: brown;
}

